<%- include('partials/header') %>

<div class="contact">
  <h2>Contact</h2>
  <p>
  Phone: +91-9xxxxxxxxx |
  Email: abc@123.com |
  Address: Chennai, Tamil Nadu
  </p>
</div>

<%- include('partials/footer') %>
